{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Document Guide</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Herkese Açık Belgelere Hızlı ve Kolay Erişim</h1>
    </header>
    <main>
        <section>
            <h2>Son Eklenen Belgeler</h2>
            <ul>
                {% for document in documents %}
                    <li>
                        <h3>{{ document.name }}</h3>
                        <p>{{ document.description }}</p>
                        <p><strong>Oluşturulma Tarihi:</strong> {{ document.created_at }}</p>
                        {% if document.image %}
                            <img src="{{ document.image.url }}" alt="{{ document.name }}" width="200">
                        {% endif %}
                    </li>
                {% endfor %}
                
            </ul>
        </section>
    </main>
</body>
</html>

